<%- include('partials/prologue.ejs', {title: 'Not Found | Boo Personality Database', description: 'Sorry, the requested profile could not be found in the Boo Personality Database.'}) %>

<div class="row sqs-row">
  <%- include('partials/categories.ejs') %>
  <div class="col sqs-col-10 sqs-col-page">
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-2e6206ba777e9c6841a8">
      <div class="sqs-block-content">
        <h2 class="name">Profile Not Found</h2>
      </div>
    </div>
    <div class="row sqs-row">
      <div class="col sqs-col-photo">
        <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="136.28691983122363" data-block-type="5" id="block-1f47fbbe7cae8fdeba8c">
          <div class="sqs-block-content">
            <p>Sorry, the requested profile could not be found.</p>
          </div>
        </div>
      </div>
      <div class="col sqs-col-trait">
      </div>
    </div>
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
      <div class="sqs-block-content">
      </div>
    </div>
  </div>
</div>

<%- include('partials/epilogue.ejs') %>
